version: 2.1
orbs:
  win: circleci/windows@4.1.1
  macos: circleci/macos@2.2.0
jobs:
  linux-gcc:
    docker:
      - image: cimg/gcc:12.3.0-bullseye  # CircleCI-supported Debian-based GCC image
    environment:
      CC: gcc-12
      CXX: g++-12
    steps:
      - checkout
      - run:
          name: Install Software
          command: |
            sudo apt-get update
            sudo apt-get install -y ninja-build git unzip cmake \
                libstdc++-12-dev lame libopus-dev libopusenc-dev opus-tools \
                guile-3.0-dev libmsgpack-dev libcyaml-dev
      - run: /bin/bash .ci/build-project.sh
      - run: ctest --output-on-failure --output-junit test-results.xml --test-dir build
      - store_test_results:
          path: build/test-results.xml

workflows:
  version: 2
  run-all:
    jobs:
      - linux-gcc