version: 2.1
orbs:
  win: circleci/windows@4.1.1
  macos: circleci/macos@2.2.0
jobs:
  linux-gcc:
    docker:
      - image: cimg/base:current-22.04
    environment:
      CC: gcc-12
      CXX: g++-12
    steps:
      - checkout
      - run:
          name: Install Software
          command: |
            sudo apt-get update
            sudo apt-get install ninja-build git unzip cmake g++-12 libstdc++-12-dev
            sudo apt-get install lame libopus-dev guile-3.0-dev libmsgpack-dev libcyaml-dev
            wget http://archive.ubuntu.com/ubuntu/pool/universe/libo/libopusenc/libopusenc-dev_0.2.1-2_amd64.deb
            sudo apt install ./libopusenc-dev_0.2.1-2_amd64.deb

      - run: /bin/bash .ci/build-project.sh
      - run: ctest --output-on-failure --output-junit test-results.xml --test-dir build
      - store_test_results:
          path: build/test-results.xml
workflows:
  version: 2
  run-all:
    jobs:
      - linux-gcc